* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  max-width: 1920px;
  min-width: 320px;
  font-size: 0.9em;
  line-height: 1.5;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  width: 100%;
}

footer {
  z-index: 1;
  width: 100%;

  .footer-content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    margin: 0px auto;
    max-width: 1400px;
    width: 100%;
    color: rgba(255, 255, 255, 0.75);

    a {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.1875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.53125rem;
}

h4 {
  font-size: 1.3125rem;
}

h5 {
  font-size: 1.09375rem;
}

h6 {
  font-size: 0.875rem;
}

.overlay {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(
      at center center,
      #07242b 0%,
      #000000 100%
    );
    opacity: 0.5;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1023px) {
}

/* mobile */
@media screen and (max-width: 768px) {
  footer {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.53125rem;
  }

  h3 {
    font-size: 1.3125rem;
  }

  h4 {
    font-size: 1.09375rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.5rem;
  }
}
