body {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("/images/header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
  position: relative;
  height: 290px;

  .overlay {
    height: 100%;

    div {
      position: relative;
    }
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 16px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .menu {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 1;

      li {
        a {
          color: white;
          display: inline-block;
        }
      }
    }

    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
    }

    .menu-button-container {
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-button::before {
      content: "";
      margin-top: -8px;
    }

    .menu-button::after {
      content: "";
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
  }

  .title {
    clear: both;
    color: white;
    top: 10%;
    position: relative;
    text-align: center;

    h1 {
      font-weight: 600;
    }
  }
}

.content {
  margin: 0px auto;
  max-width: 1400px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;

  .summary {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 40px;
  }
}

.page-title {
  text-align: center;
  margin: 20px auto;
}

footer {

  background-image: url("/images/header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

/* desktop and table */
@media screen and (min-width: 769px) {
  .top-nav {
    .menu {
      flex-direction: row;

      li {
        display: inline;
        line-height: 40px;
        border: 1px solid white;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          background-image: radial-gradient(
            at center center,
            #07242b 0%,
            #000000 100%
          );
          opacity: 0.5;
        }

        a {
          color: white;
          display: inline-block;
          position: relative;
          padding: 0px 15px;
        }

        &:hover {
          background-color: var(--link-color);
          border-color: var(--link-color);
        }
      }
    }
    .menu-button-container {
      display: none;
    }
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 200px;
    justify-content: right;
    align-items: center;
    margin-top: 80px !important;

    li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;

      a {
        margin-top: 3px;
        width: 100%;
        text-align: center;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 3em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
