footer.overlay {
  position: absolute !important;
  bottom: 0vh;

  &:before {
    background-image: none;
  }

  .footer-content {
    max-width: 450px;
  }
}

.home {
  background-image: url("../images/header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;

  .home-title {
    font-weight: 600;
    line-height: 1.4em;
    text-align: center;
    height: 100%;

    img {
      margin: 0 auto;
      position: relative;
    }
  }

  .home-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    transform: translate(-0%, -50%);
    z-index: 1;

    .home-nav-button {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      margin: 10px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 1.1em;
      text-align: center;
      height: 65px;
      width: 200px;

      a {
        color: #fff;
        height: 65px;
        width: 200px;

        span {
          display: block;
          position: relative;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }

      &:hover {
        background-color: var(--link-color);
        border-color: var(--link-color);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .home {
    .home-title img {
      width: 450px;
      top: 50%;
      transform: translate(-0%, -50%);
    }
  }

  .home-nav {
    top: -15%;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .home {
    .home-title img {
      width: 225px;
      top: 25%;
      transform: translate(-0%, -50%);
    }

    .home-nav {
      bottom: 250px;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;

      .home-nav-button {
        margin: 10px auto;
        height: 55px;
        width: 150px;
      }
    }
  }
}
