code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;

  .nav-collection {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;

    .nav-item {
      margin-bottom: -1px;

      a {
        line-height: 2.1rem;

        img {
          vertical-align: middle;
        }
      }

      .nav-link {
        display: block;
        margin-top: 0px;
        padding: 0 1rem;
        padding-bottom: -6px;
        margin-top: 6px;
        border: 1px solid #f0f0f0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-color: transparent;
      }

      .active {
        margin-top: 0px;
        padding-bottom: 6px;
      }
    }
  }
}

.software-index {
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 20px;

    .cell {
      text-align: center;
      vertical-align: top;

      h4 {
        margin-top: 0px;
      }
    }
  }
}

.release-notes {
  .row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 20px;

    .col-25 {
      vertical-align: top;
    }

    .col-50 {
      vertical-align: top;
    }
  }
}

.readme-content {
  img {
    max-width: 100%;
    vertical-align: middle;
  }

  margin: 0px 20px;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .release-notes {
    .row {
      .col-25 {
        width: 25%;
      }

      .col-50 {
        width: 50%;
      }
    }
  }

  .software-index {
    .row {
      .cell {
        width: 33.33333%;
      }
    }

    .row:nth-child(even) {
      flex-direction: row;
    }

    .row:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .release-notes {
    .row {
      .col-25 {
        width: 25%;
      }

      .col-50 {
        width: 50%;
      }
    }
  }

  .software-index {
    .row {
      flex-direction: row;
      padding: 20px 20px;

      .cell {
        width: 50%;
      }

      .cell:nth-child(even) {
        text-align: left;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .release-notes {
    .header {
      display: none;
    }

    .download-count {
      display: none;
    }

    .col-25,
    .col-50 {
      width: 100%;
    }
  }

  .software-index {
    .row {
      flex-direction: column;
      padding: 20px 20px;

      .cell {
        width: 100%;
      }
    }
  }
}
