.travel-content {
  .index-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    width: 100%;

    .cell {
      text-align: center;
      margin: 20px auto 0px;

      h3 {
        margin-top: 0px;
      }

      .list-cell-image {
        padding: 0px 0px 1px 1px;
        max-width: 179px;
        height: 135px;
        margin: 0px auto;
        overflow: hidden;

        .mosaic-image {
          width: 43px;
          margin: 1px 1px 0px 0px;
          padding: 0px;
          float: left;
        }
      }

      .list-cell-city {
        max-width: 174px;
        max-height: 131px;
        margin-top: 1px;
      }

      .list-cell-name {
        padding: 0px 10px;
      }
    }
  }

  .index-footer {
    text-align: center;
  }

  .photo-wall {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: dense;

    .album-image-container {
      cursor: pointer;
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;

      
    }

    .vertical {
      grid-row: span 2;
    }

    .horizontal {
      grid-column: span 2;
    }

    .hidden-caption-content {
      display: none;
    }
  }
}

.pswp__custom-caption {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  text-align: center;
}
.pswp__custom-caption a {
  color: #fff;
}

.lightbox-credits {
  margin: 20px auto 0px;
  text-align: center;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .photo-wall {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
  }
  .travel-content {
    .index-row {
      .cell {
        width: 25%;
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .photo-wall {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
  }
  .travel-content {
    .index-row {
      .cell {
        width: 33.33333%;
      }
    }
  }
}

/* mobile */
@media screen and (min-width: 561px) and (max-width: 768px) {
  .travel-content {
    .index-row {
      .cell {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .travel-content {
    .index-row {
      .cell {
        width: 100%;
      }
    }
  }
}
