@using Weredev.UI.Controllers;

@{
    ViewData[BaseController.MetaTitle] = "Home Page";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/home.css" asp-append-version="true">
}


<div class="home">
    <div class="home-title overlay">
        <img src="/images/main-logo.webp" alt="weredev.com: nerd adventurer" />
    </div>
    <div class="home-nav">
        <div class="home-nav-button overlay">
            <a asp-controller="Software"><span>SOFTWARE</span></a>
        </div>
        @* <div class="home-nav-button overlay">
            <a asp-controller="Gaming"><span>GAMING</span></a>
        </div> *@
        <div class="home-nav-button overlay">
            <a asp-controller="Travel"><span>TRAVEL</span></a>
        </div>
    </div>
</div>
