@{
    Layout = "_ContentLayout";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/travel.css" asp-append-version="true">
    @RenderSection("stylesheets", required: false)
}

<div class="travel-content">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
