@using Weredev.UI.Controllers
@{
    Layout = "_TravelLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListCountriesResponse

<p class="summary">
    I love to travel and besides the travel bug I sometimes get the shutter bug.  I'm not particularly good though
    there are some pictures I'm proud of.  They're hosted at Flickr, but I'm making them available here too.  Enjoy!
</p>
<div class="index-row">
    @foreach(var country in @Model.Countries.OrderBy(x => x.CountryName)) {
        <div class="cell">
            @{
                var imageUrl = "/images/countries/" + country.CountryKey.ToLower() + ".png";
            }
            <a asp-action="@nameof(TravelController.ListCities)" asp-route-countrykey="@country.CountryKey"><img src='@imageUrl' class='border border-dark' alt="@(country.CountryName)" /></a>
            <h3>
                <a asp-action="@nameof(TravelController.ListCities)" asp-route-countrykey="@country.CountryKey">@(country.CountryName)</a>
            </h3>
        </div>
    }
</div>
<p class="index-footer">
    Country maps courtesy of <a href='https://freevectormaps.com/' target='_blank'>Free Vector Maps</a>.
</p>

