@using static Weredev.UI.Models.WorldTraveler.ListPhotosResponse.Photo.PhotoScale;
@using Weredev.UI.Controllers
@{
    Layout = "_TravelLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListPhotosResponse

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/photoswipe.css" asp-append-version="true">
}

@section scripts {
    <script type="module">
        import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.js';
        const lightbox = new PhotoSwipeLightbox({
            gallery: '.photo-wall',
            children: '.album-image-container',
            pswpModule: () => import('/js/photoswipe.esm.js')
        });
        lightbox.on('uiRegister', function () {
            lightbox.pswp.ui.registerElement({
                name: 'custom-caption',
                order: 9,
                isButton: false,
                appendTo: 'root',
                html: 'Caption text',
                onInit: (el, pswp) => {
                    lightbox.pswp.on('change', () => {
                        const currSlideElement = lightbox.pswp.currSlide.data.element;

                        let captionHTML = '';
                        if (currSlideElement) {
                            const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
                            if (hiddenCaption) {
                                // get caption from element with class hidden-caption-content
                                captionHTML = hiddenCaption.innerHTML;
                            } else {
                                // get caption from alt attribute
                                captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
                            }
                        }
                        el.innerHTML = captionHTML || '';
                    });
                }
            });
        });
        lightbox.init();
    </script>
}

<a asp-action="Index">
    <h2 class="page-title">travel</h2>
</a>
<h3 class="page-title">
    <a asp-action="@nameof(TravelController.ListCities)"
        asp-route-countrykey="@Model.CountryKey">@(Model.CountryName)</a>
    | <a asp-action="@nameof(TravelController.ListAlbums)" asp-route-countrykey="@Model.CountryKey"
        asp-route-citykey="@Model.CityKey">@(Model.CityName)</a>
    | @(Model.AlbumName)
</h3>
<div class="photo-wall">
    @foreach (var photo in Model.Photos.OrderBy(x => x.Name))
    {
        var originalPhoto = photo.Scales.First(x => x.Scale == ScaleType.Original);
        var mediumPhoto = photo.Scales.First(x => x.Scale == ScaleType.Medium);
        var orientationClass = string.Empty;
        var height = Math.Min(originalPhoto.Height, originalPhoto.Width);
        var width = Math.Max(originalPhoto.Height, originalPhoto.Width);
        if (mediumPhoto.Height > mediumPhoto.Width)
        {
            orientationClass = "vertical";
            height = Math.Max(originalPhoto.Height, originalPhoto.Width);
            width = Math.Min(originalPhoto.Height, originalPhoto.Width);
        }
        else if (((decimal)mediumPhoto.Height / (decimal)mediumPhoto.Width) < 0.6m)
        {
            orientationClass = "horizontal";
        }

        <div class="album-image-container @(orientationClass)">
            <a href="@(originalPhoto.Url)" data-pswp-width="@(width)" data-pswp-height="@(height)" target="_blank"></a>
            <img src="@(mediumPhoto.Url)" class="album-image" alt="@(photo.Name)" title="@(photo.Description)" />
            <div class="hidden-caption-content">
                <a target="_flickr" href="@(photo.PhotoPageUrl)">
                    See it on:<br />
                    <img src="/images/flickr_small.png" alt="Flickr" title="Flickr" />
                </a>
            </div>
        </div>
    }
</div>
<p class="lightbox-credits">
    Swipe lightbox by <a href="https://photoswipe.com/" target="_blank">PhotoSwipe</a>.
</p>
