@using Weredev.UI.Controllers
@{
    Layout = "_TravelLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListAlbumsResponse

<a asp-action="Index">
    <h2 class="page-title">travel</h2>
</a>
<h3 class="page-title">
    <a asp-action="@nameof(TravelController.ListCities)"
        asp-route-countrykey="@Model.CountryKey">@(Model.CountryName)</a>
    | @(Model.CityName)
</h3>
<div class="index-row">
    @foreach (var album in Model.Albums.OrderBy(x => x.AlbumName))
    {
        <div class="cell">
            <div class="list-cell-image">
                <a asp-action="@nameof(TravelController.ListPhotos)" asp-route-countrykey="@Model.CountryKey"
                    asp-route-citykey="@Model.CityKey" asp-route-albumkey="@album.AlbumKey"><img src="@(album.IconUrl)"
                        alt="@(album.AlbumName)" class="list-cell-city"/></a>
            </div>
            <div class="list-cell-name">
                <h3><a asp-action="@nameof(TravelController.ListPhotos)"
                        asp-route-countrykey="@Model.CountryKey" asp-route-citykey="@Model.CityKey"
                        asp-route-albumkey="@album.AlbumKey">@(album.AlbumName)</a></h3>
                <div class="list-cell-name-description">@(album.Description)</div>
            </div>
        </div>
    }
</div>