@using Weredev.UI.Controllers
@{
    Layout = "_TravelLayout";
}
@model Weredev.UI.Models.WorldTraveler.ListCitiesResponse

<a asp-action="Index">
    <h2 class="page-title">travel</h2>
</a>
<h3 class="page-title">@(Model.CountryName)</h3>
<div class="index-row">
    @foreach (var city in @Model.Cities.OrderBy(x => x.CityName)) {
        <div class="cell">
            <div class="list-cell-image">
                <a asp-action="@nameof(TravelController.ListAlbums)" asp-route-countrykey="@Model.CountryKey"
                    asp-route-citykey="@city.CityKey">
                    @foreach(var icon in city.MosaicIcons) {
                        <img src='@(icon)' class="mosaic-image" alt="@(city.CityName)" />
                    }
                </a>
            </div>
            <div class="list-cell-name">
                <h3><a asp-action="@nameof(TravelController.ListAlbums)" asp-route-countrykey="@Model.CountryKey"
                    asp-route-citykey="@city.CityKey">@(city.CityName)</a></h3>
                <div class="list-cell-name-description">@(city.Description)</div>
            </div>
        </div>
    }
</div>