@{
    Layout = "_ContentLayout";
}
@using Weredev.UI.Models.Developer
@using Weredev.UI.Helpers
@model DeveloperResponseBase

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/software.css" asp-append-version="true">
        @RenderSection("stylesheets", required: false)
}

<div>
    @if (Model != null)
    {
        @if (!string.IsNullOrEmpty(Model.RepoName))
        {
            <a asp-action="Index">
                <h2 class="page-title">software</h2>
            </a>
            <h3 class="page-title">@(Model.RepoName.ToLower())</h3>
        }
        <div class="nav">
            <ul class="nav-collection" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @Html.SetActive(action: "ReadMe")" asp-action="ReadMe"
                        asp-route-repokey="@(ViewContext.RouteData.Values["repokey"])">Readme</a>
                </li>
                @if (Model.HasReleaseNotes)
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.SetActive(action: "ReleaseNotes")" asp-action="ReleaseNotes"
                            asp-route-repokey="@(ViewContext.RouteData.Values["repokey"])">Releases</a>
                    </li>
                }
            </ul>
            <ul class="nav-collection" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="@(Model.SourceControlUrl)" target="_blank"><img
                            src="@(Model.SourceControlIcon)" alt="@(Model.SourceControlType.ToString())" /></a>
                </li>
                @if (Model.ShowBuyMeACoffee)
                {
                    <li class="nav-item">
                        @* BEGIN - Buy me a coffee *@
                        <style>
                            .bmc-button img {
                                height: 20px !important;
                                width: 14px !important;
                            }

                            .bmc-button {
                                text-decoration: none !important;
                                font-size: 16px !important;
                                letter-spacing: 0.6px !important;
                                font-family: 'Cookie', cursive !important;
                            }
                        </style>
                        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a
                            class="bmc-button nav-link" target="_blank" href="https://www.buymeacoffee.com/weredev"><img
                                src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee?"><span
                                style="margin-left:10px;">Buy me a coffee?</span></a>
                        @* END - Buy me a coffee *@
                    </li>
                }
            </ul>
        </div>
    }
    @RenderBody()
</div>
