@{
    Layout = "_SoftwareLayout";
}

<div class="software-index">
    <p class="summary">
        I've been writing software for a long time starting in High School as a hobby and now both professionally and as
        a hobby. Below are a few of the things I've tinkered with over the years.
    </p>
    <div class="row">
        <div class="cell">
            <a asp-action="wu10man"><img src='/images/developer/wu10man128.png' class='border border-dark'
                    alt="Wu10man" /></a>
        </div>
        <div class="cell">
            <h4 class=''><a asp-action="wu10man">Wu10Man</a></h4>
            <div class="list-cell-name-description">
                Windows 10 has decided that users are no longer smart enough to control their own updates, so I wrote
                this
                to grant that control back.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <a asp-action="thornless"><img src='/images/developer/thornless256.png' class='border border-dark'
                    alt="Thornless" /></a>
        </div>
        <div class="cell">
            <h4 class=''><a asp-action="thornless">Thornless</a></h4>
            <div class="list-cell-name-description">
                Working on a site to help create character names, towns, and such for use with RPGs. It's slow work as
                I tinker here and there, but it's kind of fun to work on.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <a asp-action="vscode-copyrawvalue">
                <img src='/images/developer/copyrawvalue.png' class='border border-dark' alt="VSCode Copy Raw Value" />
            </a>
        </div>
        <div class="cell">
            <h4 class=''><a asp-action="vscode-copyrawvalue">Copy Raw Value</a></h4>
            <div class="list-cell-name-description">
                This is a little VSCode extension that I wrote to be able to copy the raw value of a string while
                debugging. The normal Copy Value escapes the string, which is just annoying. This provides an
                option to get the unescaped or raw value.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <a asp-action="weredev">
                <img src='/images/developer/weredev256.png' class='border border-dark' alt="weredev.com" />
            </a>
        </div>
        <div class="cell">
            <h4 class=''><a asp-action="weredev.com">weredev.com</a></h4>
            <div class="list-cell-name-description">
                You already know what this is. You're looking at it!
            </div>
        </div>
    </div>
</div>