@{
    Layout = "_SoftwareLayout";
}
@model Weredev.UI.Models.Developer.ReleaseNotesResponse

<div class="release-notes">
    <h4>@(Model.RepoName)</h4>
    <div class="row header">
        <div class="col-25"><h6>Version</h6></div>
        <div class="col-25"><h6>Release Date</h6></div>
        <div class="col-25"><h6>Installer</h6></div>
        <div class="col-25"><h6>Portable</h6></div>
    </div>
    @foreach(var release in Model.Releases)
    {
        var exe = release.Assets?.FirstOrDefault(x => x.DownloadUrl.EndsWith(".exe") || x.DownloadUrl.EndsWith(".msi"));
        var zip = release.Assets?.FirstOrDefault(x => x.DownloadUrl.EndsWith(".zip"));

        <div class="row">
            <div class="col-25">@(Model.RepoName) @(release.Name)</div>
            <div class="col-25">@(release.PublishedAt.ToString("dd MMMM yyyy"))</div>
            <div class="col-25">
                @if(exe != null)
                {
                    <a href="@(exe.DownloadUrl)">
                        @(exe.Name)
                    </a>
                }
            </div>
            <div class="col-25">
                @if(zip != null)
                {
                    <a href="@(zip.DownloadUrl)">
                        @(zip.Name)
                    </a>
                }
            </div>
            <div class="col-50">
                @Html.Raw(release.Body)
            </div>
            <div class="col-25 download-count">
                @if(exe != null)
                {
                    <text>@(exe.DownloadCount) Downloads</text>
                }
            </div>
            <div class="col-25 download-count">
                @if(zip != null)
                {
                    <text>@(zip.DownloadCount) Downloads</text>
                }
            </div>
        </div>
    }
</div>