@using Weredev.UI.Controllers

@{
    Layout = "_Layout";
}

@section stylesheets {
    <link rel="stylesheet" type="text/css" href="/css/content.css" asp-append-version="true">
        @RenderSection("stylesheets", required: false)
}

@section header {
    <div class="overlay">
        <div class="top-nav">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-75.webp" alt="weredev.com: nerd adventurer" />
                </a>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <ul class="menu">
                <li>
                    <a href="/software">Software</a>
                </li>
                @* <li>
            <a href="/gaming">Gaming</a>
            </li> *@
                <li>
                    <a href="/travel">Travel</a>
                </li>
            </ul>
        </div>

        <div class="title">
            <h1>@ViewData[BaseController.MetaTitle]</h1>
        </div>
    </div>

}

<div class="content">
    @RenderBody()
</div>
