@using Weredev.UI.Controllers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData[BaseController.MetaDescription]" />
    <meta name="keywords" content="@ViewData[BaseController.MetaKeywords], weredev, gaming, developer, travel" />
    <title>weredev | @ViewData[BaseController.MetaTitle]</title>
    <link rel="stylesheet" type="text/css" href="/css/variables.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/css/common.css" asp-append-version="true">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
    @RenderSection("stylesheets", required: false)
</head>

<body>
    <header>
        @RenderSection("header", required: false)
    </header>
    @RenderBody()
    <footer class="overlay">
        <div class="footer-content">
            <div class="left">&copy; 2020-2024 weredev</div>
            <div class="right"><a href="https://www.flickr.com/photos/29735288@N05/53343462870/in/album-72177720312791515/"
                    target="_blank">Eibsee &#64; Zugspitze by weredev</a></div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>

</html>
